<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd ">
						
	<import resource="classpath:/lunarApplicationContext-security.xml"/>
	
	<!-- URL non sécurisées -->
	<security:http pattern="/**" security="none" />
    
	<!-- Configuration de la sécurité de l'appli web. -->
    <security:http auto-config="false" 
    	entry-point-ref="preAuthEntryPoint" 
    	access-decision-manager-ref="accessDecisionManager" 
    	realm="Portail">
		<security:custom-filter ref="j2eePreAuthProcessingFilter" position="PRE_AUTH_FILTER"/>
    </security:http>
    
</beans>
