<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

	<!-- sortie de logs vers la console -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
 		<encoder>
			<pattern>%d{"dd MMM yyyy HH:mm:ss,SSS"} - [%thread] - %level - %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- logger pour lunar  -->
	<logger name="santeclair.lunar" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>

	<!-- logger racine -->
	<root>
		<level value="info" />
		<appender-ref ref="console" />
	</root>

</configuration>